@{
    ViewData["Title"] = "About";
}


<blockquote>
    <h3>We aim to provide credible information and description of cryptocurrencies.</h3>
</blockquote>

<img class="about-image" src="~/images/ExplainThisCrypto_Logo.png" alt="ExplainThisCrypto Logo" />

<p>The cryptocurrency market has experienced an explosive growth in the past year alone. The number of cryptocurrency project launched has increase from just a mere handful to more than a thousand in the span of just one year.</p>

<p>As cryptocurrencies becomes more popular and attracts mainstream attention, we see a surge in <strong>public demand</strong> to understand the many cryptocurrency projects listed on the market.</p>

<img class="about-image" src="~/images/explainthiscrypto-coins.jpeg" alt="Some Cryptocurrencies"/>

<p>While the internet is filled with descriptions of the different cryptocurrencies, many descriptions are <strong>poorly drafted, generalized, incomplete or worse - inaccurate</strong> . We attribute this credibility issue to the lack of accountability and moderation over the scattered platforms and channels.</p>

<div id="Mission">
    <div class="card-body">
        <p>This project seeks to solve this problem by creating a platform that would <strong>provide credible information and description</strong> of cryptocurrencies.</p>
    </div>
</div>
