@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<blockquote>
    <h2>We aim to provide credible information and description of cryptocurrencies.</h2>
</blockquote>

<p>The cryptocurrency market has experienced an explosive growth in the past year alone. The number of cryptocurrency project launched has increase from just a mere handful to more than a thousand in the span of just one year.</p>

<p>As cryptocurrencies becomes more popular and attracts mainstream attention, we see a surge in public demand to understand the many cryptocurrency projects listed on the market.</p>

<p>While the internet is filled with descriptions of the different cryptocurrencies, many descriptions are poorly drafted, generalized, incomplete or worse - inaccurate. We attribute this credibility issue to the lack of accountability and moderation over the scattered platforms and channels.</p>

<p><strong>This project seeks to solve this problem by creating a platform that would provide credible information and description of cryptocurrencies.</strong></p>
