@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <p><strong>Twitter:</strong> <a href="https://twitter.com/xthiscrypto">xthiscrypto</a></p><br />
</address>
